.header {
   display: flex;
   flex-direction: row; 
   width: '100%';
   justify-content: space-between;
   align-items: center;
   margin: 10px;
   color: blue;

}
.RightSection{
    display:flex;
    flex-direction:row;
    gap:30px;
}
.leftSection {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--brand-main-50, #AF48FF);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--dark-90, #19192E);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.8px;
}

.Login, .SignUp{
margin: 5px;
}
